apiVersion: v1
kind: Secret
metadata:
  name: unhackable-secrets
type: Opaque
stringData:
  DATABASE_URI: "your-mongodb-uri"
  NEXT_PUBLIC_RPC_URL: "your-rpc-url"
  GOOGLE_CLIENT_ID: "your-google-client-id"
  GOOGLE_CLIENT_SECRET: "your-google-client-secret"
  AUTH_SECRET: "your-auth-secret"
  NEXTAUTH_URL: "https://your-domain.com"
