apiVersion: v1
kind: Service
metadata:
  name: unhackable
  labels:
    app: unhackable
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: unhackable
